// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.handle-submits{
}
.login-form-box{
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: space-around;
  margin-left: 40%;
  padding: 10px;
}
.login-form-container{
  align-items: center;
  justify-content: center;
}
