// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.login-form-container{
  margin: auto;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: .8;
  background-color: white;
}
.login-form-box a{
  color: green;
}
.login-form-box a:hover{
  color: lime;
  text-decoration: none;
}
