$content-max-width: 1400px;


.LeftNav {
  padding: 10px;
}


.MiddleNav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.RightNav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}
.session-button {
  font-size: 25px;
  color: black;
  padding: 10px;
  background-color: inherit;
  height: auto;
}
.session-button:hover{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: space-around;

}
.navbar-container {
  position: fixed;
  width: 100%;
  max-width: $content-max-width;
  z-index: 1000;
}

.spacer{
  height: 110px;
}


.app{
  backface-visibility: hidden;
  max-width: $content-max-width;
}


.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}

.search-results {
  padding: 0px;
  position: absolute;
  background: rgba(229, 229, 229, .95);
  border: 1px solid whitesmoke;
  list-style-type: none;
  z-index: 2;
  border-radius: 5px;
}

.search-result-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: black;
  border-bottom: 1px solid whitesmoke;
  max-width: 400px;
  padding: 8px 8px 8px 10px;

  &:hover {
    background: rgba(219, 255, 237, 1);
    style: none;
  }
}

.search-bar-input{
  width: 30vw;
  height: inherit;
  background-color: lightgray;
  font-family: 'Karla', sans-serif;
  position: relative;
  font-size: 16px;
  padding-left: 10px;
  min-width: 45px;
  border-radius: 5px;
}

.search-container{
  height: 45%;
  margin: 2%;
  margin-top: auto;
}
.search-container li{
  height: 100%;
}
