
.RightNav{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}
.RightNav button {
  font-size: 25px;
  color: black;
  padding: 10px;
  background-color: inherit;
  font-family: 'Pacifico', cursive;
  height: auto;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: space-around;
}
.navbar-container {
  position: fixed;
  width: 100%;
}

.spacer{
  height: 130px;
}

.LeftNav {
  padding: 10px;
}

.app{
  height: 1000px;
  background-image: url('https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/1060x600/format/jpg/quality/85/http%3A%2F%2Fhss-prod.hss.aol.com%2Fhss%2Fstorage%2Fadam%2Fe71787c02fa155539686892adef95467%2F75620674.jpeg');
  background-size: cover;
  backface-visibility: hidden;
}
