// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  justify-content: center;
}
.product-items{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}
.product-item-img{
  max-width: 75%;
}

.checkout-button{
  border: 0;
  margin: 10px;
  padding: 6px 15px;
  background-color: #6b6;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  height: 10%;
  width: 30%;
}

.checkout-button:hover {
  cursor: pointer;
  background-color: #494;
}

.message-button{
  border: 0;
  margin: 10px;
  padding: 6px 15px;
  background-color: #6b6;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  height: 35px;
  width: 150px;
}

.message-button:hover {
  cursor: pointer;
  background-color: #494;
}


.splash{
  // justify-content: center;
  position: relative;
}
.splash-text{
  position: absolute;
  left: 5%;
  transform: translate( 0%, 50%);
  text-align: left;
  max-width: 30%;
}
.splash img{
  max-width: 100%;
}
// .sample-product{
//   width: 50%;
//   // padding: 20px;
// }
// .sample-product img{
//   max-width: 100%;
//   // max-height: 100%;
//
// }
.sample-product {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    max-height: 100%;
    height: 40vw; //this viewport width value determines the relative size of the product img.
}

.sample-product img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.sample-index{
  width: 50%;
  max-width: 50%;
  height: 40vw;
  // padding: 20px;
}
.sample-index img{
  max-height: 100%;
}


.app{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
