.show-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1140px;
  // min-height: 3000px;
  margin: 0 auto;
  padding-top: 20px;
}
.img-and-checkout{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.show-img{
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 740px;
}

.show-img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;



}
.img-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}


.checkout{
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 400px;
  height: 300px;
  padding-left: 30px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}

.show-description{

}

.img-title{

}

.product-info{
  background:rgba(255,0,255, 0.3);
  background: lightgray;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 30px;
}

.product-features{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
.product-features ul{
  list-style: circle;
}
.product-features li{
  padding: 10px;
}
