<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <Link rel="stylesheet" href='https://bootswatch.com/spacelab/bootstrap.min.css'>
    <Link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" >
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
